<div class="w-full flex flex-col gap-4">
  <div class="grid grid-cols-1 sm:grid-cols-[3fr_,2fr] gap-4">
    <section class="grid grid-rows-[auto,_1fr] p-5 shadow-md border border-neutral-200">
      <h3 class="uppercase tracking-wider font-semibold mb-1">About Me</h3>
      <div class="flex flex-col gap-3 justify-between">
        <%= render "profiles/profile", profile: current_user.profile %>
        <% if current_user.profile %>
          <%= link_to "Update Profile", edit_profile_path(current_user.profile), class: "self-end tracking-wide border rounded-full py-1 px-5 border-neutral-700 py-1 hover:bg-neutral-700 hover:text-neutral-50" %>
        <% else %>
          <%= link_to "Create Profile", new_profile_path, class: "self-end tracking-wide border rounded-full py-1 border-neutral-700 py-1 px-5 hover:bg-neutral-700 hover:text-neutral-50" %>
        <% end %>
      </div>
    </section>

    <!-- TODO: where to incorporate writing samples??? -->
    <section class="p-5 flex flex-col gap-1 shadow-md border border-neutral-200">
      <h3 class="uppercase tracking-wider font-semibold">Specialties</h3>
      <!-- TODO: currently placeholder, update -->
      <div class="flex flex-wrap gap-3">
        <span class="py-1 px-2 rounded bg-seafoam-100 text-neutral-100">humor</span>
        <span class="py-1 px-2 rounded bg-seafoam-100 text-neutral-100">product descriptions</span>
        <span class="py-1 px-2 rounded bg-seafoam-100 text-neutral-100">long-form commentary</span>
        <span class="py-1 px-2 rounded bg-seafoam-100 text-neutral-100">opinion pieces</span>
        <span class="py-1 px-2 rounded bg-seafoam-100 text-neutral-100">descriptive story telling</span>
      </div>
    </section>
  </div>
  <section class="flex flex-col gap-1">
    <h3 class="uppercase tracking-wider font-semibold">I write</h3>
    <div class="overflow-x-auto w-full flex gap-3">
      <!-- TODO: currently placeholder -->
      <div class="shrink-0 w-64 p-3 border rounded flex flex-col justify-between gap-3 ">
        <div>
          <h4 class="uppercase tracking-wider font-semibold mb-2">product 1</h4>
          <p class="text-neutral-500 leading-tight max-h-32">description of this product with an estimated word count</p>
        </div>
        <p class="py-1 px-2 rounded bg-seafoam-200 text-neutral-100 text-center">$40</p>
      </div>
      <div class="shrink-0 w-64 p-3 border rounded flex flex-col justify-between gap-3">
        <div>
          <h4 class="uppercase tracking-wider font-semibold mb-2">product 2</h4>
          <p class="text-neutral-500 leading-tight max-h-32">description of this product with an estimated word count that is even longer than the first so that we can see what happens when the description is very long</p>
        </div>
        <p class="py-1 px-2 rounded bg-seafoam-200 text-neutral-100 text-center">$40</p>
      </div>
      <div class="shrink-0 w-64 p-3 border rounded flex flex-col justify-between gap-3">
        <div>
          <h4 class="uppercase tracking-wider font-semibold mb-2">product 3</h4>
          <p class="text-neutral-500 leading-tight max-h-32">description of this product with an estimated word count</p>
        </div>
        <p class="py-1 px-2 rounded bg-seafoam-200 text-neutral-100 text-center">$40</p>
      </div>
    </div>
    <button class="self-end tracking-wide border rounded-full py-1 border-neutral-700 py-1 px-5 hover:bg-neutral-700 hover:text-neutral-50">
      Add a product
    </button>
  </section>
  <section>
    <h3 class="uppercase tracking-wider font-semibold">My Assignments</h3>
    <!-- TEMP -->
    <div class="flex flex-col">
      <div class="overflow-x-auto sm:-mx-6 lg:-mx-8">
        <div class="inline-block min-w-full py-2 sm:px-6 lg:px-8">
          <div class="overflow-hidden">
            <table class="min-w-[350px] sm:min-w-full text-left text-sm font-light table-fixed">
              <thead class="border-b font-medium dark:border-neutral-500">
                <tr>
                  <th scope="col" class="px-6 py-4">Date</th>
                  <th scope="col" class="px-6 py-4">Product</th>
                  <th scope="col" class="px-6 py-4">Client</th>
                  <th scope="col" class="px-6 py-4">Price</th>
                  <th scope="col" class="px-6 py-4"></th>
                </tr>
              </thead>
              <tbody>
                <tr class="border-b dark:border-neutral-500">
                  <td class="whitespace-nowrap px-6 py-4 font-medium">1</td>
                  <td class="whitespace-nowrap px-6 py-4">Mark</td>
                  <td class="whitespace-nowrap px-6 py-4">Otto</td>
                  <td class="whitespace-nowrap px-6 py-4">@mdo</td>
                  <td class="whitespace-nowrap px-6 py-4"><button>details</button></td>
                </tr>
                <tr class="border-b dark:border-neutral-500">
                  <td class="whitespace-nowrap px-6 py-4 font-medium">2</td>
                  <td class="whitespace-nowrap px-6 py-4">Jacob</td>
                  <td class="whitespace-nowrap px-6 py-4">Thornton</td>
                  <td class="whitespace-nowrap px-6 py-4">@fat</td>
                  <td class="whitespace-nowrap px-6 py-4"><button>details</button></td>
                </tr>
                <tr class="border-b dark:border-neutral-500">
                  <td class="whitespace-nowrap px-6 py-4 font-medium">3</td>
                  <td class="whitespace-nowrap px-6 py-4">Larry</td>
                  <td class="whitespace-nowrap px-6 py-4">Wild</td>
                  <td class="whitespace-nowrap px-6 py-4">@twitter</td>
                  <td class="whitespace-nowrap px-6 py-4"><button>details</button></td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>