<!-- TODO: rework this, tabs and body partial will be drawn together... -->
<% if current_user.writer %>
  <%= render "tabs", active_tab: @active_tab %>
  <% if @active_tab == "samples" %>
    <p>writing samples placeholder</p>
  <% elsif @active_tab == "earnings" %>
    <p>earnings placeholder</p>
  <% else %>
    <%= render "writer_dashboard" %>
  <% end %>
<% else %>
  <%= render "client_dashboard" %>
<% end %>
