<div>
  <h3 class="uppercase tracking-wider font-semibold">Specialties</h3>
  <div class="flex flex-wrap gap-3">
    <% writer.specialties.each do |specialty| %>
      <span class="py-1 px-2 rounded bg-seafoam-100 text-neutral-100"><%= specialty %></span>
    <% end %>
  </div>
</div>