<div class="grid grid-cols-1 sm:grid-cols-2 gap-5 p-5 sm:p-10">
  <div class="flex flex-col justify-center">
    <h1 class="font-bold text-4xl">We are writers.</h1>
    <p class="max-w-prose">
    Need some help coming up with the right words? Whether it&apos;s that 
    difficult email you&apos;ve been putting off or a snappy update to an online 
    profile, we&apos;re here for you. Find the perfect living, breathing writer 
    for your project.
    </p>
  </div>

  <%= image_tag "quote-right-solid.svg", class: "translate-y-[-10%] sm:translate-y-[0%]" %>

  <button class="border-2 py-1 hover:bg-neutral-200">Find a writer</button>
  <button class="border-2 py-1 hover:bg-neutral-200">Become a writer</button>
</div>
